@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 0;
  }
}
.menu{
  &__list{
    display: flex;
    justify-content: space-between;
  }
  &__item + .menu__item{
    margin-left: 30px;
  }
  &__link{
    @extend %rubik-400;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
  }
}
.user-nav{
  display: flex;
  &__img{
    display: inline-block;
  }

  &__btn{
    padding-top: 5px;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border: none;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    }
    &__link-box{
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      width: 175px;
      height: 50px;
      margin: 0 20px;
      background-color: #fcd7b6;
      border-radius: 25px;
    }
    &__cart,
    &__like{
      position: relative;
      padding-bottom: 4px;
    }
    &__like::after{
      content: '';
      position: absolute;
      top: -5px;
      right: -38px;
      width: 1px;
      height: 30px;
      background-color: #fff;
    }
     &__num{
        position: absolute;
        top: -6px;
        right: -8px;
        padding-left: 4px;
        width: 16px;
        height: 16px;
        font-size: 10px;
        line-height: 20px;
        background-color: #fff;
        border-radius: 50%;
      }
      &__button{
        display: inline-block;
        padding-left: 7px;
        width: 50px;
        height: 50px;
        font-size: 10px;
        line-height: 8px;
        background-color: #a3bbc8;
        border: none;
        border-radius: 50%;
        outline: 0;
        cursor: pointer;
      }
  }

.footer{
  padding-top: 60px;
  background-color: #fff;
  &__top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
    border-bottom: 1px solid #dae4e9;
  }
  &__item{
    display: flex;
    flex-direction: column;
  }
  &__logo{
    margin-top: -13px;
    margin-bottom: 35px;
  }
  &__adress{
    span{
      display: block;
      font-size: 14px;
      line-height: 24px;
    }
  }
  &__tel{
    margin-top: 22px;
    display: block;
  }
  
  &__title{
    margin-bottom: 25px;
    @extend %dmsans-700;
    line-height: 21px;
    color: #1f2044;
    text-transform: uppercase;
  }
  &__link{
    margin-bottom: 1px;
  }
  &__text{
    max-width: 272px;
    width: 100%;
    margin-bottom: 35px;
  }
  &__form{
    max-width: 300px;
    width: 100%;
  }
  &__input{
    width: 170px;
    height: 38px;
    padding: 12px 3px 12px 12px;
    @extend %dmsans-400;
    font-size: 12px;
    border: none;
    background-color: #fef7f0;
    outline: 0;
  }
  .footer__input::placeholder{
    padding: 12px 3px 12px 12px;
    color: #234969;
  }
  &__btn{
    @extend %btn;
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    padding: 35px 0 35px;
  }
  &__page + .footer__page{
    margin-left: 30px;
  }
   &__page{
    font-size: 12px;
    position: relative;
  }
  .footer__page--before::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -19px;
    width: 1px;
    height: 17px;
    background-color: #000;
  }
}

.top-slider{
  &__item{
    display: flex!important;
    justify-content: center;
    align-items: center;
    min-height: 820px;
    background-color: #fcd7b6;
  }
 
  &__title{
    max-width: 550px;
    width: 100%;
    padding-bottom: 40px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    text-transform: uppercase;
  }
  &__text{
    max-width: 387px;
    width: 100%;
    font-size: 18px;
    color: #436372;
    margin-bottom: 40px;
  }
  &__link{
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-left: 28px;
    @extend %vbtn;
    @extend %rubik-500;
    width: 200px;
    min-height: 60px;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    background-color: #436372;
    border-radius: 0;
  }
  &__link::after{
    content: '';
    position: absolute;
    right: 20px;
    top: 25px;
    background-image: url('../images/icons/arrow.svg');
    width: 22px;
    height: 9px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    position: relative;
    top: -70px;
    li{
      padding: 0 6px;
      button{
        width: 29px;
        height: 29px;
        padding: 0;
        @extend %myriad-400;
        font-size: 15px;
        line-height: 12px;
        color: #243f4d;
        background-color: #fde3cc;
        border-radius: 50%;
        border: none;
        outline: 0;
      }
       &.slick-active{
        button{
          @extend %rubik-500;
          color: #243f4d;
          background-color: #fff;
        }
      }
    }
  }
}
  













@import 'media';